*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-container {
    padding: 10px;
}

.controls-group {
    padding-bottom: 0.5rem;
}

#main-video {
    margin-bottom: 0.5rem;
    max-height: 50vh;
}
