/* Main style */

*,
*::before,
*::after {
    box-sizing: border-box;
}

#app {
    padding: 0.25rem;
}

.bold {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.one-line {
    white-space: nowrap;
}

a,
a:visited {
    color: inherit;
}

h1 {
    text-align: center;
}

.form-group {
    padding-bottom: 0.5rem;
}

.form-error {
    color: red;
    padding-bottom: 0.25rem;
}

.form-group label {
    display: block;
    padding-bottom: 0.2rem;
}

.btn {
    padding: 0.5rem;
}

.btn-margin {
    margin: 0.25rem;
}

.form-control {
    padding: 0.2rem 0.3rem;
}


.table-container {
    overflow-x: auto;
    width: 100%;
}

.table {
    margin-bottom: 1rem;
    border-collapse: collapse;
}

.table-full {
    width: 100%;
}

.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid black;
    text-align: left;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid black
}

.channel-control-group {
    width: fit-content;
}

.hls-player {
    width: 100%;
    aspect-ratio: "16:9";
}

.hls-player video {
    width: 100%;
    height: 100%;
    background-color: black;
}

.live-preview {
    width: 720px;
    max-width: 100%;
}

.publish-preview-video.hidden {
    display: none;
}